<!--Special note: use the form method to do the ajax, so don't need create a js file for this homework see activity 7 and 8 and other older activiites for refrrence-->
<div class="jumbotron" style="text-align: center; background-color: orange">
  <div class="container">
    <h1>Eat-Da-Burger</h1>
    <img src="assets/img/burger.jpg">
  </div>
</div>
<div class="container">
  <div class="row">
    <!--first panel for what to be eaten-->
<div class="col-md-4">
  <div class="panel panel-warning">
    <div class="panel-heading" style="background-color: orange; color: black">
      <h3 class="panel-title" style="text-align: center">Burgers to be eaten!</h3>
    </div>
    <!--put the all the data with devoured = false-->
    <div class="panel-body">
      {{#each burgersData}}
        {{#unless this.devoured}}
        <div class = "good">
          <!--form way http mehtod-->
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <br />
              <span>{{this.id}}. {{this.burger_name}}<button type="submit" class="btn btn-primary" style = "margin-left: 20px;">Eat it!</button></span>
            </form>
          <br />
        </div>  
        {{/unless}}
      {{/each}}
    </div>
  </div>
</div>
<!--second column for the user to add new burger-->
<div class="col-md-4">
  <div class="panel panel-warning">
    <div class="panel-heading" style="background-color: orange; color: black">
      <h3 class="panel-title" style="text-align: center">Add a Burger</h3>
    </div>
    <div class="panel-body">
      <form class="create-update-form" action="burgers/create" method="POST">
        <div class="form-group">
          <label for="newBurger">Burger Name:</label>
          <input type="hidden" name="devoured" value="0">
          <input type="text" id="newBurger" name="burger_name">
          <br />
          <br />
          <button type="submit" class="btn btn-warning center-block">Add Burger</button>
        </div>   
      </form>
    </div>
  </div> 
</div>

<div class="col-md-4">
  <div class="panel panel-warning">
    <div class="panel-heading" style="background-color: orange; color: black">
      <h3 class="panel-title" style="text-align: center">Eaten burgers</h3>
    </div>
    <div class="panel-body">
      {{#each burgersData}}
        {{#if this.devoured}}
          <p># {{this.burger_name}}</p>
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
            </form>
        {{/if}}
      {{/each}}
    </div>
  </div>    
</div>
</div>
</div>